@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --canada-red: #FF0000;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-canada-red {
  background-color: var(--canada-red);
}

.text-canada-red {
  color: var(--canada-red);
}

.border-canada-red {
  border-color: var(--canada-red);
}

